@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #907986;
  --color-secondary: #c8a6a2;
  --color-contrast: #fff;
  --color-background: #e8e0de;
  --color-text: #393939;
  --input-field: rgb(196 196 196 / 20%);

  /* BORDER */
  --border-radius: 1rem;
  --border-primary: 0.1rem solid #c8a6a2;

  /* FONT */
  --font-family: 'Roboto', sans-serif;
  --font-weight-headline: 700;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--color-background);
}

.btn {
  background: var(--color-secondary);
  color: var(--color-contrast);
  border-radius: var(--border-radius);
  width: 10.6rem;
  height: 3rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: var(--font-family);
  font-size: 1rem;
  border: 0;
}

.btn:hover {
  background: var(--color-contrast);
  color: var(--color-secondary);
  border: var(--border-primary);
}

.btn_inactiv {
  background: var(--color-contrast);
  color: var(--color-secondary);
  border: var(--border-primary);
  border-radius: var(--border-radius);
  width: 10.6rem;
  height: 3rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: var(--font-family);
  font-size: 1rem;
}

.btn_inactiv:hover {
  background: var(--color-secondary);
  color: var(--color-contrast);
  border: 0;
}
